@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import "../Avatar.css"; 
@import "../Badge.css";
@import"../Alert.css";
@import"../Button.css";
@import"../Image.css";
@import"../Input.css";
@import"../Card.css";
@import"../Text-utilities.css";
@import"../List.css";
@import"../Navigation.css";
@import"../Modal.css";
@import"../Rating.css";
@import"../Snackbar.css";
@import"../Grid.css";

:root{
   /* Colors  */
    --primary-color:#420039;
    --secondary-color:#E1DEE9 ;
    --plain-primary:white;
    --danger:red;
    --success:green;

   /* Typography */
   --designed-font: 'Kaushan Script', cursive;

}

.title{
    font-family: var(--designed-font);
    font-size: 2rem;
    padding: 0rem 1rem;
    color:var(--plain-primary);
}

h3{
    padding: 0rem;
    margin: 0 auto;
}

body{
    padding:0 ;
    margin: 0px;
    background: #fff;
}

.logo{
    width:35px;
    height:40px;
}

.top-navbar{
    width:100%;
    height:80px;
    display: flex;
    justify-content:space-between;
    background-color:var(--primary-color);
    padding: 0rem 1rem;
    box-sizing:border-box;
    align-items: center;
    border-bottom: solid 10px var(--secondary-color);
}

.top-navbar-icon{
    display:flex;
    gap:30px;
    align-items: center;
    padding-left: 2rem;
}

.top-menu{
    text-decoration: none;
    color:var(--plain-primary);
    font-size: 1.2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

.sidebar{
    width:20%;
    height:100%;
    background-color: var(--plain-primary);
    position: fixed;
    z-index: 1;
    overflow-y:scroll;
    top:80px;

    padding: 0.5rem 0rem;
}

.components{
    display: flex;
    flex-flow: column wrap;
    gap:10px;
    height:130%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top:0;
}

.side-menu{
    text-decoration: none;
    color:black;
    padding: 0.2rem 1rem;
}

.side-menu:hover{
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    padding-top:.2rem;
}

.sidebar-heading{
    padding-right: 1rem;
    padding-bottom: .5rem;;
}

.content{
    padding-left: 22%;
    font-family: 'Roboto', sans-serif;
    margin-inline-end: 2.5%;
}

footer{
    position: relative;
    z-index: 2;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 0rem;
    color:var(--plain-primary);
}

.footer-div{
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: center;
    height:100px;
}

.social-icons img{
    width: 30px;
    height: 30px;
    background: white;
}

.tagline{
    font-family: var(--designed-font);
    font-size:2.5rem;
    padding:1rem .5rem;
}

.index-div{
    display: flex;
    padding: 2rem 2rem;
    flex-flow: row wrap;
    background: #f4f2f8;
    border:5px solid grey;
}

.index-content{
    font-size: 2rem;
    padding: 2rem 2rem;
}

.open-btn{
    padding:1rem 2rem;
    text-align: center;
}

.open-btn a{
    padding:1rem 2rem;
    text-align: center;
    margin:1rem;
    text-decoration: none;
}
<<<<<<< HEAD

.setup{
    display: flex;
    padding: 2rem 2rem;
    flex-flow: column wrap;
    background: #f4f2f8;
    border:5px solid grey;
}

.instruction{
    font-size: 2rem;
    padding: 2rem 2rem;
}
=======
>>>>>>> 77e87e6151deca23a7f59e750d52e5ee377c1d4d
